VITE_SUPABASE_URL= Found at supabase → project settings → data API → APi URL
VITE_SUPABASE_ANON_KEY= Found at supabase → project settings → api keys → publishable key
DROPBOX_FILE_REQUEST_URL= Odkaz na dropbox.
PHOTO_ACCESS_KEY= Vygenerovaný random kód, co je přidaný pak jako secret ve vercelu přes enviromental variables

Also need to update Vercel projet. Go to Project → Enviromental Variables → Add new
