VITE_SUPABASE_URL= Found at supabase → project settings → data API → APi URL
VITE_SUPABASE_ANON_KEY= Found at supabase → project settings → api keys → publishable key

Also need to update Vercel projet. Go to Project → Enviromental Variables → Add new