.heroArrowA:hover {
  opacity: 0.6;
}

.journeyTimelineItemLeft{
  justify-content: flex-start;
}

.journeyTimelineItemRight{
  justify-content: flex-end;
}

.journeyLine{
  left: 50%; /*Dej to doprostřed rodiče*/
}

.journeyDate{
  left: 50%; /*dej to do poloviny rodiče zleva*/
  font-size: 2rem;
}


/* Type nr. 1
.formInputGroup input:focus~label,
.formInputGroup input:valid~label {
  top: 0 !important;
  transform: translateY(-50%) scale(.9) !important;
  padding: 0 0.6rem !important;
}

.formInputGroup input:focus, 
.formInputGroup input:valid {
  border-color: #9696C8 !important;
}
*/
/*najdi prvek formInputGroup, v něm najdi input, co je focusnutý a pak vyber label, který je HNED (+) za tím inputem (~ volnější hledání)*/

/*not(:placeholder-shown) používám místo :valid. Říká že když není placeholder zobrazený = Když už input nezobrazuje žádnou hodnotu
Já tam prvně vložím placeholder jako mezeru, aby tam palceholder existoval, ale nic tam nebylo. Musí existovat, aby s tím šlo pracovat.
Jakmile kliknu do pole a něco napíšu, placeholder mizí, tato podmínka platí a posune se to. Posouvá se to i při kliknutí díky focus
*/
.formInputGroup input:focus + label,
.formInputGroup input:not(:placeholder-shown) + label 
{
  top: -20px !important;
  color: #AABBD5 !important;
  font-size: 0.9rem !important;
}

/*--------------------------------------*/
/*!!!Inline style má větši prioritu než media querry!!!*/

@media (max-width: 1300px){
  .journeyLine{
    left: 15%;
  }
  .journeyDate{
    left: 15%;
  }
  .journeyTimelineItemLeft{
    justify-content: center;
  }
  .journeyTimelineItemRight{
    justify-content: center;
  }
}

@media (max-width: 768px){
  .hero{
    padding: 1rem;
    background-position: center;
  }
  .heroContent{
    max-width: 100%;
  }
  .countdownDeckOfCards{
    flex-direction: column;
  }
  .journeyLine{
    left: 5%;
  }
  .journeyDate{
    left: 5%;
  }
}

@media (max-width: 500px){
  .journeyDate{
    font-size: 1rem;
  }
}